<p id="notice"><%= notice %></p>

<p>
  <strong>Shipper name:</strong>
  <%= @shipper.shipper_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shipper.phone %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
