<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Contact name</th>
      <th>Address</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.contact_name %></td>
        <td><%= customer.address %></td>
        <% if customer.city %>
        <td><%= link_to customer.city.name, city_path(customer.city_id) %></td>
        <% else %>
        <td>n.a.</td>
        <% end %>
        <td><%= customer.postal_code %></td>
        <td><%= link_to customer.country.name, country_path(customer.country_id) %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
